@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 95px;
  color: black;
}

.playIcon {
  font-size: 95px;
  color: black;
  margin-left: 10px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
  color: rgb(37, 37, 37);
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 94vh;
  display: flex;
  align-items: center;
  background-color: #78c2ad;
  /*background-image: url("../../background1.jpg");*/
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  width: 170px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title,
  .playIcon {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
  .main {
    min-height: 92.9vh;
  }
}
