.mainback {
  min-height: 94vh;
  display: flex;
  padding: 10px 0;
}

.page {
  width: 100%;
}
.heading {
  font-size: 50px;
  padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
  .mainback {
    min-height: 92.9vh;
  }
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
